name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Ngrok Java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu
      - uses: ./.github/workflows/rust-cache
      - uses: actions/setup-java@v3
        with:
          java-version: |
            17
            11
          distribution: 'temurin'
          cache: 'maven'
      - name: Verification
        run: mvn --batch-mode verify 
        env:
          NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}

  # We need to target older glibc (as old as possible) to support customers on very old Linux versions. 
  # If we end up needing to target older than 2.8, we will have to do a special workaround, as actions/checkout 
  # won't work without newer glibc versions:
  # https://github.com/actions/checkout/issues/1809
  build-glibc-2_28:
    name: Build Ngrok Java (glibc 2.28)
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_28_x86_64
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu
      - uses: ./.github/workflows/rust-cache
      - uses: actions/setup-java@v3
        with:
          java-version: |
            17
            11
          distribution: 'temurin'
          cache: 'maven'
      - name: Install maven
        run: |
          curl -sL https://dlcdn.apache.org/maven/maven-3/3.9.12/binaries/apache-maven-3.9.12-bin.tar.gz -o maven.tar.gz
          echo "0a1be79f02466533fc1a80abbef8796e4f737c46c6574ede5658b110899942a94db634477dfd3745501c80aef9aac0d4f841d38574373f7e2d24cce89d694f70 maven.tar.gz" | sha512sum -c -
          tar xvf maven.tar.gz
          rm maven.tar.gz
          echo "JAVA_11_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
          echo "JAVA_17_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
          echo "./apache-maven-3.9.12/bin/" >> $GITHUB_PATH
      - name: Verification
        run: mvn --global-toolchains toolchains.xml --batch-mode verify 
        env:
          NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}

  udeps:
    name: Udeps
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v3
      - uses: jrobsonchase/direnv-action@v0.7
      - uses: ./.github/workflows/rust-cache
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
      - name: generate rust files
        run: mvn --batch-mode --projects ngrok-java-native --also-make process-classes
      - uses: actions-rs/cargo@v1
        with:
          command: udeps
          args: '--workspace --all-targets --all-features --manifest-path ngrok-java-native/Cargo.toml'

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v3
      - uses: jrobsonchase/direnv-action@v0.7
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: '--all --manifest-path ngrok-java-native/Cargo.toml -- --check'

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v3
      - uses: jrobsonchase/direnv-action@v0.7
      - uses: ./.github/workflows/rust-cache
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
      - name: generate rust files
        run: mvn --batch-mode --projects ngrok-java-native --also-make process-classes
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: '--all-targets --all-features --workspace --manifest-path ngrok-java-native/Cargo.toml -- -D warnings'
